<?xml version="1.0" standalone='no'?>
<!-- Located under /etc/avahi/services/https.service -->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
   <name replace-wildcards="yes">%h</name> # Display Name
   <service>
       <type>_https._tcp</type>
       <port>443</port>
   </service>
</service-group>
