# Add it under /etc/systemd/system/minidlna_vbox_fix.service
# Enable it with "systemctl enable minidlna_vbox_fix"

[Unit]
Description=Caused by the delayed start of virtualbox, minidlna will scan at startup an empty folder. To fix this, restart minidlna right after the vbox service (for the shared folders) to trigger a rescan...
After=vboxadd.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c "systemctl restart minidlna.service"

[Install]
WantedBy=multi-user.target
